[submodule "android"]
	path = android
	url = https://github.com/osmandapp/Osmand
[submodule "tools"]
	path = tools
	url = https://github.com/osmandapp/OsmAnd-tools
[submodule "resources"]
	path = resources
	url = https://github.com/osmandapp/OsmAnd-resources
[submodule "core"]
	path = core
	url = https://github.com/osmandapp/OsmAnd-core
[submodule "build"]
	path = build
	url = https://github.com/osmandapp/OsmAnd-build
